/* GLOBAL */
html {
  font-size: 16px;
  font-family: sans-serif;
}

.container {
  max-width: 1230px;
  margin: 0 auto;
}

.flex-container {
  display: flex;
}

h1  {
  font-size: 3rem;
  font-weight: bold;
  line-height: 1;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.25;
}

h3 {
  font-size: 1.25rem;
  font-weight: bold;
  line-height: 1.5;
}

p {
  font-size: 0.9rem;
  line-height: 1.5;
}

/* HEADER */
header {
  height: 4rem;
  padding: 0 1.5rem;
  align-items: center;
  background-color: white;
}

.logo {
  align-items: center;
  height: 2rem;
  font-size: 1.25rem;
}

.logo-img img {
  height: 3rem;
  padding-top: .25rem;
}

#colmar {
  font-weight: bold;
}

nav {
  flex-grow: 1;
  justify-content: flex-end;
  align-items: center;
}

nav span {
  margin-left: 1rem;
  font-size: 1rem;
}

/* MAIN */
main {
  border-right: 1px solid #DCDCDC;
  border-left: 1px solid #DCDCDC;
}


/* MAIN BANNER */
.banner {
  padding: 2rem 0;
  background-color: #DCDCDC;
}

.banner-img {
  margin: 0 1.5rem;
  width: 60%;
}

.banner img {
  width: 100%;
}

.banner-content {
  width: 40%;
  flex-direction: column;
  justify-content: center;
}

.banner-content h3 {
  margin: 2rem 6rem 3rem 0;
}

.banner-content .button {
  max-width: 60%;
  color: white;
  background-color: #484848;
  padding: .85rem 0;
  font-size: 1.2rem;
  text-align: center;
  border-radius: 5px;
}

/* INFORMATION */
.info-hero {
  width: 60%;
  margin: 0 1.5rem;
  padding: 2rem 0;
  flex-direction: column;
}

.info-hero-img img {
  max-width: 100%;
}

.info-hero-text {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  margin-top: 2rem;
}

.info-hero-text h2 {
  margin-bottom: 1.5rem;
}

.info-hero-text #quote {
  flex-grow: 1;
}

.info-hero-text #cite {
  font-size: .75rem;
}

.info-side {
  border-left: 1px solid  #DCDCDC;
  width: 40%;
  padding: 2rem 0;
}

.info-item {
  display: flex;
}

.info-item:hover {
  background-color: #DCDCDC;
}

.info-item:nth-child(2) {
  border-top: 4px solid #DCDCDC;
  border-bottom: 4px solid #DCDCDC;
}

.info-img {
  width: 35%;
  margin: 1rem;
}

.info-img img {
  max-width: 100%;
  height: auto;
}

.info-text {
  width: 60%;
  margin: auto 0;
}

.info-text p {
  margin: .5rem 0 1rem 0;
}

.info-text a {
  font-size: .9rem;
  color: darkgrey;
}
