/* GLOBAL */
html {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  color: #404040;
}

main {
  border-right: 1px solid #f5f5f5;
  border-left: 1px solid #f5f5f5;
}

.container {
  max-width: 1230px;
  margin: 0 auto;
}

.flex-container {
  display: flex;
}

.section-title {
  margin-bottom: 2rem;
}

.section-content {
  width: 60%;
  margin: 0 1.5rem;
  flex-direction: column;
}

.section-content-text {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  margin-top: 2rem;
}

.sidebar {
  width: 40%;
}

.sidebar-item {
  display: flex;
}

.sidebar-item:hover {
  background-color: #F2F2F2;
}

.sidebar-img {
  width: 35%;
  margin: 1rem;
}

.sidebar-img img {
  max-width: 100%;
  height: auto;
}

.sidebar-text {
  width: 60%;
  margin: auto 0;
}

.sidebar-text p {
  margin: .5rem 0;
}

.sidebar-text a {
  font-size: .9rem;
  color: #7C7C7C;
}

.sidebar-text a:hover {
  color: #404040;
}

h1 {
  font-size: 3rem;
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  line-height: 1;
}

h2 {
  font-size: 2rem;
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  line-height: 1.25;
}

h3 {
  font-size: 1.25rem;
  line-height: 1.5;
  font-weight: bold;
}

p {
  font-size: 0.9rem;
  line-height: 1.5;
}

/* NON-GLOBAL STYLING */
/* HEADER */
#header {
  height: 4rem;
  padding: 0 1.5rem;
  align-items: center;
  background-color: white;
}

#header .logo {
  align-items: center;
  height: 2rem;
  font-size: 1.25rem;
}

#header .logo-img img {
  height: 3rem;
  padding-top: .25rem;
}

#header #colmar {
  font-weight: bold;
}

#header nav {
  flex-grow: 1;
  justify-content: flex-end;
  align-items: center;
}

#header nav span {
  margin-left: 1rem;
  font-size: 1rem;
}

/* MAIN BANNER */
#banner {
  padding: 2rem 0;
  background-color: #f5f5f5;
}

#banner img {
  width: 100%;
}

#banner .banner-img {
  margin: 0 1.5rem;
  width: 60%;
}

#banner .banner-content {
  width: 40%;
  flex-direction: column;
  justify-content: center;
}

#banner .banner-content h3 {
  margin: 2rem 6rem 3rem 0;
}

#banner .banner-content .button {
  max-width: 60%;
  color: white;
  background-color: #484848;
  padding: .85rem 0;
  font-size: 1.2rem;
  text-align: center;
  border-radius: 5px;
}

/* INFORMATION */
#info {
  padding: 2rem 0;
}

#info .section-content-media img {
  max-width: 100%;
}

#info .section-content-text h2 {
  margin-bottom: 1.5rem;
}

#info .section-content-text #quote {
  flex-grow: 1;
}

#info .section-content-text #cite {
  font-size: .75rem;
}

#info .sidebar-item:nth-child(2) {
  border-top: 4px solid #f5f5f5;
  border-bottom: 4px solid #f5f5f5;
}

#info .sidebar {
  border-left: 1px solid #f5f5f5;
}

/* START LEARNING / COURSES */
#courses {
  flex-direction: column;
  align-items: center;
  padding: 2rem 4.5rem;
  background-color: #f5f5f5;
}

#courses .courses-desktop {
  flex-wrap: wrap;
  justify-content: center;
}

#courses .course {
  width: 30%;
  margin: 1rem 1rem;
  background-color: white;
}

#courses .course-img img {
  max-width: 100%;
  height: auto;
}

#courses .course-info {
  padding: 1rem 0 1.5rem 1rem;
}

#courses .course-info p:nth-child(2) {
  padding: .5rem 0;
}

/* THESIS EXHIBIT */
#exhibit {
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
}

#exhibit .section-content-media video {
  max-width: 100%;
}

#exhibit .section-content-text h3 {
  padding-bottom: .5rem;
}
